spring:
  application:
    name: webfluxtest
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/postgres
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    pool:
      initial-size: 5
      max-size: 20
      max-idle-time: 30m
  sql:
    init:
      mode: always
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"